<div class="cell" style="position: absolute; top: 0; bottom: 45px; overflow: auto;width: 100%;>
  <div id="list" class="bd">
    <div class="weui-cells__title">我的发布</div>
    <div class="weui-panel weui-panel_access">
      <div class="weui-grids">
        {{#each products }}
        <a href="/product/{{this._id}}" class="weui-grid js_grid" style="background-color: #fff;width:50%">
          <div class="weui-grid__icon" style="width: 100%;height: 100%;">
            <img src="{{product_detail.images.[0]}}?x-oss-process=image/resize,m_fill,h_200,w_200">
          </div>
          <p class="weui-grid__label">
            {{product_detail.product_name}}
          </p>
          <em class="weui-grid__label" style="color:#09bb07">
            ¥{{product_detail.price}}元
          </em>
        </a>
        {{else}}
        您没有已经发布的商品。
        {{/each}}
      </div>
    </div>
  </div>
</div>
