{{#extend "css"}}
<style>
 .swiper-container {
     width: 100%;
 }
 .swiper-container img {
     display: block;
     width: 100%;
 }
</style>
{{/extend}}
<div class="cell">
  <div class="bd">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each product.product_detail.galleries}}
        <div class="swiper-slide">
          <img src="{{@root.config.aliyun.prefix}}{{image.url}}" alt="{{../product_name}} {{../product_name}}">
        </div>
        {{/each}}
      </div>
    </div>
    
    {{product.product_detail.product_name}}
    <br>
    {{product.product_detail.product_desc}}

    <div class="ydw_bottom_area">
      <div class="weui-row">
        <div class="weui-col-100">
          <button class="weui_btn weui_btn_primary" id="btn_resv">{{#if (eq pack.location_status '箱格')}}预约{{else}}{{pack.location_status_title}}{{/if}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type='text/javascript' src='//cdn.bootcss.com/jquery-weui/0.8.2/js/swiper.min.js'></script>
<script src="//cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>
<script>
 jsApilist = jsApilist.concat([
 ]);

 var socket = io();

 socket.on('connect', function () {
     socket.emit('user_id', '{{@root.session.openid}}');
 });

 socket.on('fetch_order', function (order) {
     console.log(order);
     if (order) {
         if (order.order_status == 'payed') {
             $.toptip("您已经有一个已预约待取出的玩具了。");
         } else {
             $.toptip("您手头上已经有一个玩具，请先归还。");
         }
     } else {
         window.location = '/pack/{{pack.pack_serial}}/iwantresv';
     }
 });
 $(function() {
     $(".swiper-container").swiper({
         loop: true,
         autoplay: 3000
     });
     //我要玩
     $('#btn_resv').click(function () {
         {{#if (eq pack.location_status '箱格')}}
         socket.emit('fetch_order', {
             user_id: {{@root.session.openid}},
             order_status: ['payed', 'got']
         });
         {{/if}}
     });
 });

</script>
{{/extend}}
