{{#extend "css"}}
<style>
 .swiper-container {
     width: 100%;
     height: 350px;
 }
 .swiper-container img {
     display: block;
     width: 100%;
 }
</style>
{{/extend}}
<div class="cell">
  <div class="bd">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each product.product_detail.images}}
        <div class="swiper-slide">
          <img src="{{this}}" alt="{{../product_name}} {{../product_name}}">
        </div>
        {{/each}}
      </div>
    </div>

    <div class="weui_panel weui_panel_access">
      <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
          <h4 class="weui_media_title">
            {{product.product_detail.product_name}}
          </h4>
          <p class="weui_media_desc">
            {{product.product_detail.product_desc}}
          </p>
        </div>
      </div>
    </div>
    {{#if product.comments}}
    <div id="comments" class="weui_panel weui_panel_access">
      <div class="weui_panel_hd">评论一览</div>
      <div class="weui_panel_bd">
        {{#each product.comments}}
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
          <div class="weui_media_hd">
            <img class="weui_media_appmsg_thumb" src="" alt="">
          </div>
          <div class="weui_media_bd">
            <p class="weui_media_desc">{{content}}</p>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
    {{/if}}

    <div class="ydw_bottom_area">
      <div class="weui-row">
        <div class="weui-col-80">
          <textarea class="weui_textarea" id="comment" placeholder="请输入评论" rows="2"></textarea>
        </div>
        <div class="weui-col-20">
            <a href="javascript:;" id="btn_send_comment" class="weui_btn weui_btn_mini weui_btn_default">发送</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type='text/javascript' src='//cdn.bootcss.com/jquery-weui/0.8.2/js/swiper.min.js'></script>
<script src="//cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>
<script>
 jsApilist = jsApilist.concat([
 ]);

 $(function() {
     $(".swiper-container").swiper({
         loop: true,
         autoplay: 3000
     });
     //我要玩
     $('#btn_send_comment').click(function () {
         $.showLoading('数据提交中');
         $.ajax({
             url: '/product/{{req.params._id}}/comment',
             type: 'post',
             data: {
                 user: '{{req.session.user._id}}',
                 content: $('#comment').val()
             }
         }).done(function(res) {
             $.hideLoading();
             window.location = '/product/{{req.params._id}}'
         });

     });
 });

</script>
{{/extend}}
