{{#extend "css"}}
<style>
 .swiper-container {
     width: 100%;
     height: 350px;
 }
 .swiper-container img {
     display: block;
     width: 100%;
 }
</style>
{{/extend}}
<div class="cell" style="position: absolute; top: 0; bottom: 45px; overflow: auto;width: 100%;>
  <div class="bd">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each product.product_detail.images}}
        <div class="swiper-slide">
          <img src="{{this}}" alt="{{../product_name}} {{../product_name}}">
        </div>
        {{/each}}
      </div>
    </div>
    
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">商品</label>
          <span class="weui-form-preview__value">{{product.product_detail.product_name}}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">价格</label>
          <span class="weui-form-preview__value">{{product.product_detail.price}}元</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">标签</label>
          <a href="/main?product_tag={{product.product_detail.product_tag}}" class="weui-btn weui-btn_mini weui-btn_primary">{{product.product_detail.product_tag}}</a>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">发布时间</label>
          <span class="weui-form-preview__value">{{ymd product.create_date 'YYYY-MM-DD'}}</span>
        </div>
      </div>
      <div class="weui-form-preview__ft">
        {{#if (not product.is_closed)}}
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="/product/comment/new/{{product._id}}">留言</a>
        {{#if (eq product.seller @root.req.session.user._id)}}
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:" id="btn_close" >取消售卖</a>
        {{else}}
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:" id="btn_pay" >支付定金</a>
        {{/if}}
        {{/if}}
      </div>
    </div>

    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
          <h4 class="weui-media-box__title">发布者</h4>
          <p class="weui-media-box__desc">{{product.seller.nickname}}</p>
        </div>
        <div class="weui-media-box weui-media-box_text">
          <h4 class="weui-media-box__title">联系方式</h4>
          <p class="weui-media-box__desc">{{product.contact.name}}:{{product.contact.value}}</p>
        </div>
      </div>
    </div>

    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
          <h4 class="weui-media-box__title">商品描述</h4>
          <p class="weui-media-box__desc">{{product.product_detail.product_desc}}</p>
        </div>
      </div>
    </div>
    
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">留言板</div>
      <div class="weui-panel__bd">
        {{#each product.comments}}
        <div class="weui-media-box weui-media-box_text">
          <p class="weui-media-box__desc">{{content}}</p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">{{user.nickname}}</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ymd create_date 'YYYY-MM-DD'}}</li>
          </ul>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type='text/javascript' src='//cdn.bootcss.com/jquery-weui/1.0.0-rc.1/js/swiper.min.js'></script>
<script>

 $(function() {
     $(".swiper-container").swiper({
         loop: true,
         autoplay: 3000
     });

     //submit
     $('#btn_close').click(function () {
         $.confirm("您确定要关闭这件商品吗？", function() {
             $.ajax({
                 url: '/product/close/{{product._id}}',
                 type: 'POST',
                 data: {
                 }
             }).then(function(data) {
                 if (data.success) {
                     $.toast(data.msg, function() {
                         window.location = '/product/{{product._id}}';
                     });
                 } else {
                     $.toptip(data.msg, 'warning');
                 }
             });
         }, function() {
         });
     });
 });

</script>
{{/extend}}
