{{#extend "css"}}
<style>
 .swiper-container {
     width: 100%;
     height: 350px;
 }
 .swiper-container img {
     display: block;
     width: 100%;
 }
</style>
{{/extend}}
<div class="cell">
  <div class="bd">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each product.product_detail.images}}
        <div class="swiper-slide">
          <img src="{{this}}" alt="{{../product_name}} {{../product_name}}">
        </div>
        {{/each}}
      </div>
    </div>
    <div class="weui-cells__title">{{ymd product.create_date 'YYYY-MM-DD'}}</div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>{{product.product_detail.product_name}}</p>
        </div>
        <div class="weui-cell__ft">
          价格:{{product.product_detail.price}}元
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>{{product.product_detail.product_desc}}</p>
        </div>
      </div>
    </div>

    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        {{#each product.comments}}
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{ymd create_date 'YYYY-MM-DD'}} - {{user.nickname}}</h4>
          <p class="weui-media-box__desc">{{content}}</p>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="weui-msg__opr-area">
      {{#if (not product.is_closed)}}
      <p class="weui-btn-area">
        <a href="/product/comment/new/{{product._id}}" class="weui-btn weui-btn_plain-primary" >留言</a>
      </p>
      {{#if (eq product.seller @root.req.session.user._id)}}
      <p class="weui-btn-area">
        <button id="btn_close" class="weui-btn weui-btn_plain-primary" >完成</button>
      </p>
      {{else}}
      <p class="weui-btn-area">
        <button id="btn_pay" class="weui-btn weui-btn_plain-primary" >支付定金</button>
      </p>
      {{/if}}
      {{/if}}
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type='text/javascript' src='//cdn.bootcss.com/jquery-weui/1.0.0-rc.1/js/swiper.min.js'></script>
<script>

 $(function() {
     $(".swiper-container").swiper({
         loop: true,
         autoplay: 3000
     });

     //submit
     $('#btn_close').click(function () {
         $.confirm("您确定要关闭这件商品吗？", function() {
             $.ajax({
                 url: '/product/close/{{product._id}}',
                 type: 'POST',
                 data: {
                 }
             }).then(function(data) {
                 if (data.success) {
                     $.toast(data.msg, function() {
                         window.location = '/product/{{product._id}}';
                     });
                 } else {
                     $.toptip(data.msg, 'warning');
                 }
             });
         }, function() {
         });
     });
 });

</script>
{{/extend}}
