<div class="weui-tab">
  <div class="weui-tab__bd">
    <div id="tab-main" class="weui-tab__bd-item weui-tab__bd-item--active">
      <div class="wrap-goods">
        <ul class="goods-list group" id="goods_list"></ul>
      </div>
      <div id="data_loading" class="weui-infinite-scroll">
        <div class="infinite-preloader"></div>
        正在加载。。。
      </div>
    </div>
    <div id="tab-me" class="weui-tab__bd-item">
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb ydw_portrait" src="{{user.headimgurl}}" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">{{user.nickname}}</h4>
            </div>
          </a>
        </div>
      </div>

      <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/product/new">
          <div class="weui-cell__hd">
            <i class="fa fa-plus-circle ydw_cell_hd_image" aria-hidden="true"></i>
          </div>
          <div class="weui-cell__bd">
            <p>发布商品</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>
      </div>
      <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/u/my_products">
          <div class="weui-cell__hd">
            <i class="fa fa-list ydw_cell_hd_image" aria-hidden="true"></i>
          </div>
          <div class="weui-cell__bd">
            <p>我的发布</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>
      </div>
    </div>

  </div>

  <!--tab start-->
  <div class="weui-tabbar">
    <a href="#tab-main" class="weui-tabbar__item weui-bar__item--on">
      <div class="weui-tabbar__icon">
        <img src="{{@root.config.aliyun.static_content}}/images/wj{{#if (eq current 'main')}}{{else}}2{{/if}}.jpg" alt=""/>
      </div>
      <p class="weui-tabbar__label">一览</p>
    </a>
    <a href="#tab-me" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="{{@root.config.aliyun.static_content}}/images/wd{{#if (eq current 'me')}}{{else}}2{{/if}}.png" alt=""/>
      </div>
      <p class="weui-tabbar__label">我的</p>
    </a>
  </div>
  <!--tab end-->
</div>
{{#extend "scripts"}}
<script src="//cdn.bootcss.com/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="//cdn.bootcss.com/lodash.js/4.16.6/lodash.min.js"></script>
<script src="//cdn.bootcss.com/numeral.js/1.5.3/numeral.min.js"></script>
<script src="//cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>

<script>

 var socket = io();
 var loading = false;
 var page = 1;

 socket.on('connect', function () {
     socket.emit('openid', '{{@root.session.openid}}');
 });

 socket.on('query_products', function (products) {
     /* console.log(products);*/
     if (!products || products.length < {{@root.config.pageSize}}) {
         $('#tab-main').destroyInfinite();
         $('#data_loading').text('没有更多的数据了。');
     }
     var template = Handlebars.compile($('#products-template').html());
     var view = template({ products : products });
     $('#goods_list').append(view);

     loading = false;
 });

 $(function () {
     $('#tab-main').infinite().on('infinite', function() {
         if(loading) return;
         loading = true;

         socket.emit('query_products', {
             openid: '{{@root.session.openid}}',
             page: page++
         });
     });
     socket.emit('query_products', {
         openid: '{{@root.session.openid}}',
         page: page++
     });
 });

</script>

<script id="products-template" type="text/x-handlebars-template">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      \{{#each products }}
      <a class="weui-media-box weui-media-box_appmsg" href="/product/\{{this._id}}">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="\{{product_detail.images.[0]}}?x-oss-process=image/resize,m_fill,h_200,w_200">
        </div>
        <div class="weui-media-box__bd">
          <h5 class="weui-media-box__title">\{{product_detail.product_name}}</h5>
          <p class="weui-media-box__desc">¥\{{product_detail.price}}元</p>
        </div>
      </a>
      \{{/each}}
    </div>
  </div>
</script>
{{/extend}}
