<div class="cell">
  <div class="hd">
    <p class="page_desc">{{body}}</p>
  </div>
  <div class="bd">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>收款方</p>
        </div>
        <div class="weui-cell__ft">{{@root.config.title}}</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>订单号</p>
        </div>
        <div class="weui-cell__ft">
          {{event_type}}_{{now 'YYYYMMDD'}}_{{event_id}}
        </div>
      </div>
      {{#if (and bonus (gt bonus 0))}}
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>玩贝抵值</p>
        </div>
        <div class="weui-cell__ft">
          {{bonus}}元
        </div>
      </div>
      {{/if}}
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>支付金额</p>
        </div>
        <div class="weui-cell__ft">
          {{fee}}元
        </div>
      </div>
    </div>

    <div class="ydw_bottom_area">
      <button id="btn_pay" type="button" class="weui-btn weui-btn_primary btn_pay">支付</button>
    </div>
  </div>
</div>


{{#extend "scripts"}}
<script>
 $(function () {
     //pay
     $('.btn_pay').click(function () {
         wx_unified({
             fee : {{fee}},
             bonus : {{bonus}},
             event_id : {{event_id}},
             event_type : '{{event_type}}',
             body : '{{body}}'
         }, function() {
             window.location = '{{redirect}}';
         });
     });
 });

</script>
{{/extend}}
